h3 {
    font-size: 1.4rem;
}

.main {
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
    justify-content: flex-start;
}

.max-language {
    color: red;
    font-size: 100%;
    font-weight: 350;
    text-align: center;
    margin: 0.5rem 0;
}

.pic-vacio {
    width: 2rem;
    height: 3.5rem;
}