@keyframes gradient-shift {
  0% {
    background-position: 0% 50%;
    background-image: linear-gradient(to right, #1d4ed8, #0f2f4d, #2563eb);
  }
  33% {
    background-position: 50% 50%;
    background-image: linear-gradient(to right, #0f2f4d, #2563eb, #1d4ed8);
  }
  66% {
    background-position: 100% 50%;
    background-image: linear-gradient(to right, #2563eb, #1d4ed8, #0f2f4d);
  }
  100% {
    background-position: 0% 50%;
    background-image: linear-gradient(to right, #1d4ed8, #0f2f4d, #2563eb);
  }
}

.animate-gradient {
  background-size: 200% 200%;
  animation: gradient-shift 20s ease-in-out infinite;
}

@keyframes gradient-shift-dark {
  0% {
    background-position: 0% 50%;
    background-image: linear-gradient(to right, #00231d, #003a30, #005143);
  }
  33% {
    background-position: 50% 50%;
    background-image: linear-gradient(to right, #003a30, #005143, #006857);
  }
  66% {
    background-position: 100% 50%;
    background-image: linear-gradient(to right, #005143, #006857, #00806a);
  }
  100% {
    background-position: 0% 50%;
    background-image: linear-gradient(to right, #00231d, #003a30, #005143);
  }
}

.animate-gradient-dark {
  background-size: 200% 200%;
  animation: gradient-shift-dark 20s ease-in-out infinite;
}

.highlighted-text {
  position: relative;
  display: inline-block;
  z-index: 0;
}

.highlighted-text::before {
  content: "";
  position: absolute;
  bottom: 0; /* Posición del subrayado */
  left: 0;
  width: 100%;
  height: 0.4em; /* Altura del subrayado */
  background-color: rgba(
    255,
    223,
    0,
    0.5
  ); /* Color del subrayador (amarillo con transparencia) */
  z-index: -1; /* Coloca el subrayado detrás del texto */
  transform: rotate(-2deg); /* Añade un efecto desenfadado */
  border-radius: 2px; /* Bordes redondeados para un efecto más natural */
}
